:root {
    --primaria: #6109AC;
    --primaria2: #44007E;
    --primaria3: #C494EE;
    --secundaria: #FFFF41;
    --secundaria2: #FFFF97;
    --laranja: #FFA452;
    --texto: #FFFFFF;
}

* {
    background-color: var(--primaria)
}

#class-slogan .slogan1 {
    color: var(--texto);
    font-size: 40px;
}

#class-slogan .slogan2 {
    color: var(--texto);
    font-size: 50px;
}

#class-slogan .slogan3 {
    color: var(--secundaria);
    font-size: 80px;
}

#logotrofeu .trofeu{
    display: flex;
    position: absolute;
    bottom: 250px;
    left: 1250px;
}