:root{
    --primaria: #6109AC;
    --primaria2: #44007E;
    --primaria3: #C494EE;
    --secundaria: #FFFF41;
    --secundaria2: #FFFF97;
    --laranja: #FFA452;
    --texto: #FFFFFF;
}

*{
    background-color: var(--primaria)
}

.texto-encontre{
    color: var(--texto);
}

.texto-conquiste{
    color: var(--texto);
}

.texto-triunfe{
    color: var(--secundaria);
}