:root {
    --primaria: #6109AC;
    --primaria2: #44007E;
    --primaria3: #9747FF;
    --secundaria: #FFFF41;
    --secundaria2: #FFFF97;
    --laranja: #FFA452;
    --texto: #FFFFFF;
    --rodape: #000000;
}

.footer{
    background-color: black;
    color: var(--texto);
    padding: 10px;
    position: absolute;
    bottom: 0;
}
