:root {
    --primaria: #6109AC;
    --primaria2: #44007E;
    --primaria3: #9747FF; 
    --secundaria: #FFFF41;
    --secundaria2: #FFFF97;
    --laranja: #FFA452;
    --texto: #FFFFFF;
}

.text-white {
    color: var(--laranja);
    background-color:   #1E1E1E;
}

.text-center {
    text-align: left;
}

.p-2 {
    padding: 0.5rem; /* ou o valor desejado */
}

.mt-auto {
    margin-top: auto;
}

.logo-footer{
    width: 50px;
    height: 50px;
    margin-right:-150px; 
    margin-left: 150px; 
    background-color:   #1E1E1E;
}

.copy{
    background-color:   #1E1E1E;
}
