:root {
    --primaria: #6109AC;
    --primaria2: #44007E;
    --primaria3: #9747FF;
    --secundaria: #FFFF41;
    --secundaria2: #FFFF97;
    --laranja: #FFA452;
    --texto: #FFFFFF;
    --rodape: #000000;
}

/* Estilos para o banner */
.bannerHome1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 175px;
    background-color: #7C21CB; /* Cor de fundo do banner */
}

/* Estilos para o conteúdo dentro do banner */
.content {
    background-color: transparent; /* Cor de fundo do retângulo */
    border-radius: 15px; /* Borda arredondada */
    padding: 20px; /* Espaçamento interno */
    text-align: center;
}

/* Estilos para o título do banner */
.content h1 {
    font-size: 40px;
    color: #FFFF97;
    margin: 10; /* Remover margem padrão */
}

/* Estilos para o texto do banner */
.content p {
    font-size: 25px;
    color: #FFFF97;
}

#banner {
    background-image: url("/assets/img/fundoroxo.png");
    height: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    text-align: center;
}

#banner p {
    margin: 20px;
}

#slogan1 {
    color: #FFFFFF;
}