:root{
    --primaria: #6109AC;
    --primaria2: #44007E;
    --secundaria: #FFFF41;
    --secundaria2: #FFFF97;
    --laranja: #FFA452;
    --texto: #FFFFFF;
}

/* Apenas Teste */
.container .lista-vagas{
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 30px;
}

.vaga {
    border: 1px solid var(--laranja);
    color: var(--texto);
    padding: 10px;
    max-width: 500px; /* Use max-width instead of width for responsiveness */
    height: auto;
}

.vaga h3 {
    text-align: center;
    color: var(--laranja);
}

.vaga .beneficios,
.vaga .salario {
    color: var(--laranja);
}

.botoes {
    margin-top: 10px;
}

.botao {
    padding: 5px 10px;
    margin-right: 5px;
    height: 35px; /* Fix typo: remove the extra space between 35 and px */
    vertical-align: top;
}
/* Geral/Cabeçalho */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--primaria);
}

.titulo-h1{
    color: var(--secundaria2);
}

#barra-topo{
    position: fixed;
    z-index: 999999;
    background-color: var(--primaria);
    top: 0;
    width: 100%;
}

#cabecalho{
    display: flex;
    justify-content: space-between;
    background-color: var(--primaria);
    align-items: center;
    height: 110px;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

#menu ul{
    display: flex;
    list-style: none;
}

#menu ul li{
    margin-left: 80px;
    margin-right: 80px;
}

#menu ul a{
    color: var(--texto);
    font-weight: bold;
    text-decoration: none;
    font-size: 35px;
}

#botaoTopo{
    position:relative;
    cursor: pointer;
}

#menuBotao{
    position: absolute;
    background-color: var(--primaria2);
    top: -1000px;
    left: 0;
    width: 150px;
    height: 100px;
    z-index: 999999;
    box-shadow: 2px 2px 5px rgb(0, 0, 0, 0.5);
    transition: right 0.5s;
    border: 2px solid var(--laranja);
}

#menuBotao.menuBotao-ativo{
    top: 50px;
    left: -115px;
}

#menuBotao ul {
    display: block;
    margin-top: 5px;
    list-style: none;
}

#menuBotao ul li {
    padding: 8px;
}

#menuBotao ul a {
    color: var(--texto);
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
}

/* Menu Botão Candidato */
#menuBotaoLogin{
    position: absolute;
    background-color: var(--primaria2);
    top: -1000px;
    left: 0;
    width: 150px;
    height: 150px;
    z-index: 999999;
    box-shadow: 2px 2px 5px rgb(0, 0, 0, 0.5);
    transition: right 0.5s;
    border: 2px solid var(--laranja);
}

#menuBotaoLogin.menuBotaoLogin-ativo{
    top: 50px;
    left: -115px;
}

#menuBotaoLogin ul {
    display: block;
    margin-top: 5px;
    list-style: none;
}

#menuBotaoLogin ul li {
    padding: 8px;
}

#menuBotaoLogin ul a {
    color: var(--texto);
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
}

/* Padrão da Main */
main{
    padding-top: 110px;
}

/* Form Guia */

.guia-sobre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo-guia{
    color: var(--secundaria2);
    font-weight: bold;
    font-size: 35px;
}

.guia-sobre .blocoFormRoxo {
    color: var(--secundaria)
}

.texto-guia{
    color: var(--texto);
    text-align: center;
    font-size: 20px;
}
.guia-sobre button {
    border-radius: 10px;
    color: var(--texto);
    background-color: #C494EE;
    border: none;
}

/* Forms de Cadastro */
#escolhaCadastro{
    margin-top: 150px;
}


.cadastro{
    margin-top: 175px;
}

#formCadastro{
    display: flex;
    flex-direction: column;
    gap: .25rem
}

.form-nome{
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.form-label{
    color: var(--secundaria2);
}

/* Index */
#banner{
    position: relative;
    height: 400px;
}

#textoSlogan{
    position: absolute;
    left: 90px;
    top: 40px;
}

#textoSlogan h3{
    font-size: 35px;
    color: var(--texto);
}

#textoSlogan h2{
    font-size: 45px;
    color: var(--texto);
}

#textoSlogan h1{
    font-size: 70px;
    color: var(--secundaria);
}

#trofeu{
    position: absolute;
    z-index: 9999;
    right: 0;
    top: 50px;
    right: 150px;
}

.fundoRoxo{
    background-color: var(--primaria2);
    min-height: 700px;
}

.fundoRoxo h1 {
    color: var(--secundaria2);
    font-size: 60px;
}

.fundoRoxo img{
    width: 100%;
    height: 400px;
}

#box-chamadas{
    background-image: url("/assets/img/teste.jpg");
    background-repeat: no-repeat;
}

#box-chamadas .box-nossa-historia { 
    height: 100px;
    
}


/* Cadastro e Login */
.blocoFormRoxo {
    background-color: #44007E;
    border:1px solid #FFA452;
    padding: 20px;
    width: 1150px;
    border-radius: 30px;

}
.blocoFormRoxoLogin {
    background-color: #44007E;
    border:1px solid #FFA452;
    padding: 50px;
    margin-top: 200px;
    width: 1150px;
    border-radius: 30px;

}

.titulo-form{
    display: flex;
    justify-content: center;
    color: var(--secundaria2);
}

.texto-boas-vindas{
    display: flex;
    justify-content: center;
    color: var(--texto);
}

.botao-formEscolha{
    display: flex;
    justify-content: center;
    margin-top: 45px;
}

.botao-formEscolha label {
    margin-right: 20px; 
    font-size: 20px;
    color: var(--texto);
}

.botao-formEscolha input {
    margin-left: 60px; 
}

.estiloForm {
    max-width: 400px;
    margin: 0 auto;
    margin-top: -95px;
    margin-bottom: 45px;
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.estiloForm .form-row {
    display: flex;
    justify-content: space-between;
}

.col {
    margin: 0 10px;     
}   

.estiloForm label {
    display: block;
    margin-bottom: 8px;
    color: var(--secundaria2);
}

.estiloForm .form-control{
    width: 350px;
    padding: 10px;
    background-color: var(--primaria2);
    border:1px solid #FFA452;
    margin-bottom: 16px;
    padding: 5px;
    border-radius: 15px;
    font-size: 1.2rem;
    border-radius: 20px;
    color: var(--texto);

}

.estiloForm .form-row{
    display: flex;
    justify-content: space-between;
}

.estiloForm input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Usuário Index */

.popup {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin-top: 100px;
    width: 500px;
    height: 75px;
    padding: 10px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 10px;
}

#botoes-popup{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

/* Cadastro Candidato */
.blocoCentralizado{
    display: flex;
    justify-content: center;
}


.etapa{
    background-color: var(--primaria2);
    border: none;
    padding: .5rem;
    display: none;
    color: var(--texto);
}

.form-group{
    display: flex;
    flex-direction: column;
    gap: .25rem
}

.form-group label{
    font-weight: bold;
    font-size: .8em;
}

.etapa.ativa{
    display: block;
}

/* Editar Perfil Usuário */

.estiloForm .form-row {
    display: flex;
    justify-content: space-between;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }
  
  .select-container {
    margin-top: 1rem; /* Add margin-top to position select tags below labels */
  }

#editar-empresa .blocoFormRoxo{
    margin-top: 150px;
}
.accordion-flush .accordion-item {
    background-color: var(--primaria2);
}

.accordion-collapse {
    background-color: var(--primaria);
    border-radius: 20px;
    margin-bottom: 25px;
    padding-bottom: 35px;
}

.accordion-button{
    background-color: var(--primaria2);
    color: var(--secundaria2);
    font-size: 35px;
    font-weight: bold;
}

.accordion-item .accordion-button:not(.collapsed) {
    background-color: var(--primaria2);
    color: var(--secundaria2); 
}

.accordion-button::after {
    content: "\2795";
    font-size: 20px;
}

.form-editar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 25px;
}

.form-editar .col{
    margin-top: 15px;
}

.botoes-editar{
    display: flex;
    justify-content: start;
    margin-top: 35px;
}

.botoes-editar .botao-confirmar{
    margin-left: 10px;
    background-color: var(--primaria);
    border-color: transparent;
}

.botoes-editar a {
    margin-left: 30px; /* Ou ajuste a distância desejada */
}

.accordion .form-label{
    font-weight: bold;
}

.accordion .form-control{
    background-color: var(--primaria);
    border:1px solid #FFA452;
    border-radius: 20px;
    color: var(--texto);
}

.form-control::placeholder{
    color: var(--texto)
}

.opcoes-editar {
    margin-top: 25px;
    color: var(--laranja);
    display: flex;
    flex-direction: row;
    align-items: center; /* Adicionado para centralizar verticalmente os itens */
    justify-content: center;
}

.opcoes-editar a {
    text-decoration: none;
    color: var(--laranja);
    font-size: 20px;
    font-weight: 500;
}

.opcoes-editar .botao-link-cadastro {
    background-color: var(--primaria);
    border: 1px solid #FFA452;
    border-radius: 10px;
    margin-left: 25px;
    width: 110px;
    height: 40px;
}

.opcoes-editar .pergunta-candidato {
    margin: 0;  
    font-size: 20px;
}

.excluir-conta{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.excluir-conta a{
    text-decoration: none;
    color: var(--laranja);
    font-size: 15px;
}

.excluir-conta .botao-excluir-conta{
    background-color: var(--primaria2);
    border: 1px solid #FFA452;
    border-radius: 10px;
    margin-left: 25px;
    width: 110px;
    height: 40px;
}

/* Cadastrar Vaga */
#cadastro-vaga{
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

/* Rodapé */

#rodape {
    bottom: 0;
    width: 100%;
    height: 100px;
    border: 2px solid var(--primaria2);
    margin-top: 50px;
    padding-top: 30px;
    background-color: var(--primaria2);
}

#rodape img{
    position: relative;
    bottom: 65px;
    left: 40px;
}

#rodape .container{
    display: flex;
}   

#copyright {
    width: 100%;
    color: var(--texto);
    background-color: black;
    text-align: center;
    padding: 10px;
}


