:root {
    --bs-primary-rgb: 97, 9, 172;
}

/* Estilos para o botão personalizado */
.custom-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(var(--bs-primary-rgb));
    /* Cor de fundo do botão usando a variável correta */
    color: #6109AC;
    /* Cor do texto no botão */
    border: none;
    border-radius: 8px;
    /* Borda arredondada do botão */
    text-decoration: none;
    transition: background-color 0.3s, border-radius 0.3s;
    /* Transições suaves para efeitos de hover */
}

.custom-button:hover {
    background-color: #FFA452;
    /* Cor de fundo vermelho quando o mouse passa por cima */
    border-radius: 20px;
    /* Borda arredondada aumentada quando o mouse passa por cima */
}